body{
    background-color: #00274C;
    color: #ffffff;
}

h1, h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

h3 {
    text-align: left;
    align-items: left;
    justify-content:left;
    font-size: 120%
}

h4 {
    text-align: left;
    align-items: left;
    font-size: 80%;
}

a {
    color: #FFCB05;
}

a:hover{
    color:#FFCB05;
}

a:active{
    color: #ff6347;
}

header nav ul{
    border: 3px #FFCB05 solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 40px;
    overflow: auto;

}

section {
	display: grid;
	background-color: #FFCB05;
	grid-template-columns: auto;
	grid-gap: 10px;
    padding: 12px;
    margin: 10px;
	border: 3px #000000 solid;
	border-radius: 25px;
	font-size: 16px;
    color:#000000;
    overflow: auto;
}

section img{
    border: 3px #00274C solid;
    border-radius: 25 px;
    width: 100%;
    text-align: center;
}

section a{
    background-color:#00274C;
}

#umsi-logo{
    width: 90%;
    display: block;
    padding: 10px;
    margin: 10px;
    border: 3px #FFCB05 solid;
    border-bottom-right-radius: 25px;
}

#section2 {
    text-align: left;
}

#section3 {
    text-align: left;
}

#section4 {
    text-align: left;
}